{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  //"plugins": ["react", "prettier", "jsx-a11y", "import"],
  "globals": {
    "window": true,
    "document": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extenstions": [".js"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/no-unescaped-entities": 0,
    "jsx-a11y/accessible-emoji": 0,
    "react/display-name": 0
  }
}
